In [2]:
from o9_common_utils.O9DataLake import O9DataLake, ResourceType, DataSource
query1 = "select (Version.[Version Name]*Product.[Product].[196426]*Time.FiscalWeek*SalesAccount.[Account]*Location.[Location]*{Measure.[DPSellOutUnitsActuals],Measure.[Mean Pricing Save PCT],Measure.[Placement Count],Measure.[Promotion Count],Measure.[DPSellOutPrice]});"
query2 = "select (Version.[Version Name]*Product.[Product].[196426]*Time.FiscalWeek*SalesAccount.[Account]*Location.[Location]*{Measure.[DPSellOutUnitsActuals],Measure.[Mean Pricing Save PCT],Measure.[Placement Count],Measure.[Promotion Count],Measure.[DPSellOutPrice]});"
inp1 = O9DataLake.register("sales_df",DataSource.LS, ResourceType.IBPL, query1)
inp2 = O9DataLake.register("DPBaseInputs",DataSource.LS, ResourceType.IBPL, query2)

INFO:root:IbplClient: WebApi Request Url = [https://mygcpbambi.o9solutions.com/api/ibplquery/5240/ExecuteCompactJsonQuery]
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): mygcpbambi.o9solutions.com:443
DEBUG:urllib3.connectionpool:https://mygcpbambi.o9solutions.com:443 "POST /api/ibplquery/5240/ExecuteCompactJsonQuery HTTP/1.1" 200 None
INFO:root:IbplClient: WebApi Request Url = [https://mygcpbambi.o9solutions.com/api/ibplquery/5240/ExecuteCompactJsonQuery]
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): mygcpbambi.o9solutions.com:443
DEBUG:urllib3.connectionpool:https://mygcpbambi.o9solutions.com:443 "POST /api/ibplquery/5240/ExecuteCompactJsonQuery HTTP/1.1" 200 None
INFO:root:IbplClient: WebApi Request Url = [https://mygcpbambi.o9solutions.com/api/ibplquery/5240/ExecuteCompactJsonQuery]
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): mygcpbambi.o9solutions.com:443
DEBUG:urllib3.connectionpool:https://mygcpbambi.o9solutions.com:443 "POST /api/ibplquery/5240/ExecuteCompactJsonQuery HTTP/1.1" 200 None
INFO:root:IbplClient: WebApi Request Url = [https://mygcpbambi.o9solutions.com/api/ibplquery/5240/ExecuteCompactJsonQuery]
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): mygcpbambi.o9solutions.com:443
DEBUG:urllib3.connectionpool:https://mygcpbambi.o9solutions.com:443 "POST /api/ibplquery/5240/ExecuteCompactJsonQuery HTTP/1.1" 200 None

In [8]:
df = O9DataLake.get('sales_df')

INFO:root:IbplClient: WebApi Request Url = [https://mygcpbambi.o9solutions.com/api/ibplquery/5240/ExecuteCompactJsonQuery]
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): mygcpbambi.o9solutions.com:443
DEBUG:urllib3.connectionpool:https://mygcpbambi.o9solutions.com:443 "POST /api/ibplquery/5240/ExecuteCompactJsonQuery HTTP/1.1" 200 None
INFO:root:IbplClient: WebApi Request Url = [https://mygcpbambi.o9solutions.com/api/ibplquery/5240/ExecuteCompactJsonQuery]
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): mygcpbambi.o9solutions.com:443
DEBUG:urllib3.connectionpool:https://mygcpbambi.o9solutions.com:443 "POST /api/ibplquery/5240/ExecuteCompactJsonQuery HTTP/1.1" 200 None

In [9]:
df.head()

,Version.[Version Name],Product.[Product],Time.[FiscalWeek],SalesAccount.[Account],Location.[Location],DPSellOutUnitsActuals,Mean Pricing Save PCT,Placement Count,Promotion Count,DPSellOutPrice
0,S1,196426,W03-2016,ALL,ALL,1.0,NaN,NaN,NaN,10.0
1,CurrentWorkingView,196426,W03-2016,ALL,ALL,10.0,NaN,NaN,NaN,10.0
2,S1,196426,W05-2016,ALL,ALL,2.0,NaN,NaN,NaN,10.0
3,CurrentWorkingView,196426,W05-2016,ALL,ALL,10.0,NaN,NaN,NaN,10.0
4,S1,196426,W08-2016,ALL,ALL,1.0,NaN,NaN,NaN,10.0

In [5]:
inp1['DPSellOutPrice'] = 10

In [6]:
inp1.head()

,Version.[Version Name],Product.[Product],Time.[FiscalWeek],SalesAccount.[Account],Location.[Location],DPSellOutUnitsActuals,Mean Pricing Save PCT,Placement Count,Promotion Count,DPSellOutPrice
0,S1,196426,W03-2016,ALL,ALL,1.0,NaN,NaN,NaN,10
1,CurrentWorkingView,196426,W03-2016,ALL,ALL,10.0,NaN,NaN,NaN,10
2,S1,196426,W05-2016,ALL,ALL,2.0,NaN,NaN,NaN,10
3,CurrentWorkingView,196426,W05-2016,ALL,ALL,10.0,NaN,NaN,NaN,10
4,S1,196426,W08-2016,ALL,ALL,1.0,NaN,NaN,NaN,10

In [7]:
O9DataLake.put('DPBaseOutput1',inp1)

DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): mygcpbambi.o9solutions.com:443
DEBUG:urllib3.connectionpool:https://mygcpbambi.o9solutions.com:443 "GET /api/framework/sessions/session/authToken?authToken=5flayui2ap1ljhn4meirmcw5 HTTP/1.1" 200 None
INFO:o9_sys_logger:Uploading LOCAL file: /tmp/tmpx41b2c30/Fact.DPBaseOutput1.csv
INFO:o9_sys_logger:Is the file parquet: False
INFO:o9_sys_logger:Uploading /tmp/tmpx41b2c30/Fact.DPBaseOutput1.csv to Live Server cloud
INFO:o9_sys_logger:File size less than 256 MB
INFO:o9_sys_logger:Uploading to /fileUpload endpoint
INFO:o9_sys_logger:Uploading /tmp/tmpx41b2c30/Fact.DPBaseOutput1.csv to Live Server cloud
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): mygcpbambi.o9solutions.com:443
DEBUG:urllib3.connectionpool:https://mygcpbambi.o9solutions.com:443 "POST /api/upload/fileUpload HTTP/1.1" 200 None
INFO:o9_sys_logger:Uploaded the file successfully
INFO:o9_sys_logger:Uploading cloud files at: "gcp://MMc4ee9dJS9MHdpILVnSjlkpt-QAOoBZImbfZ_y8URE4m54_QrSKgPo3U2VdFxvbydjsBGdcgrfpn2UwvB2-SUjpr8ysPSS6o4LyIh0__aA1"
INFO:root:IbplClient: WebApi Request Url = [https://mygcpbambi.o9solutions.com/api/framework/sessions/session]
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): mygcpbambi.o9solutions.com:443
DEBUG:urllib3.connectionpool:https://mygcpbambi.o9solutions.com:443 "GET /api/framework/sessions/session HTTP/1.1" 200 None
INFO:root:logged into tenant pyplatformhivetest successfully
INFO:root:IbplClient: WebApi Request Url = [https://mygcpbambi.o9solutions.com/api/user]
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): mygcpbambi.o9solutions.com:443
DEBUG:urllib3.connectionpool:https://mygcpbambi.o9solutions.com:443 "GET /api/user HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): mygcpbambi.o9solutions.com:443
DEBUG:urllib3.connectionpool:https://mygcpbambi.o9solutions.com:443 "GET /api/framework/sessions/session/authToken?authToken=5flayui2ap1ljhn4meirmcw5 HTTP/1.1" 200 None
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): mygcpbambi.o9solutions.com:443
DEBUG:urllib3.connectionpool:https://mygcpbambi.o9solutions.com:443 "POST /api/ibplquery/5240/ExecuteQuery HTTP/1.1" 200 None
INFO:o9_sys_logger:200, OK
INFO:root:Response json:
{"Result":"[{\"FileName\":\"Fact.DPBaseOutput1.csv\",\"SheetName\":\"Fact.DPBaseOutput1.csv\",\"TotalRows\":14,\"ProcessedRows\":14,\"Status\":\"Success\",\"Messages\":[\"Total Rows: [14]. Successfully Processed Rows: [14].\"],\"FileId\":\"gcp://MMc4ee9dJS9MHdpILVnSjlkpt-QAOoBZImbfZ_y8URE4m54_QrSKgPo3U2VdFxvbydjsBGdcgrfpn2UwvB2-SUjpr8ysPSS6o4LyIh0__aA1\"}]","QueryGuid":"be44ea31-8a9d-4ed9-ab4b-67418c273a48","ImpactHeader":{"TenantId":5240,"TransactionId":"00000000-0000-0000-0000-000000000000","UpdatedMembers":null,"CreatedMembers":null,"DeletedMembers":null,"ModelImpact":{"DemandPlanning.Core.Inputs":{"DPBaseInputs":["DPSellOutUnitsActuals","Mean Pricing Save PCT","Placement Count","Promotion Count","DPSellOutPrice"]}}}}
INFO:o9_sys_logger:{'FileName': 'Fact.DPBaseOutput1.csv', 'SheetName': 'Fact.DPBaseOutput1.csv', 'TotalRows': 14, 'ProcessedRows': 14, 'Status': 'Success', 'Messages': ['Total Rows: [14]. Successfully Processed Rows: [14].'], 'FileId': 'gcp://MMc4ee9dJS9MHdpILVnSjlkpt-QAOoBZImbfZ_y8URE4m54_QrSKgPo3U2VdFxvbydjsBGdcgrfpn2UwvB2-SUjpr8ysPSS6o4LyIh0__aA1'}